
.idea/modules.xml
.idea/RNNWins.iml
RWKV-v4/src/__pycache__/model_run.cpython-310.pyc
RWKV-v4/src/__pycache__/utils.cpython-310.pyc
RWKV-v4/weights/RWKV-4-Pile-169M-20220807-8023.pth
ARC-V1-Feb2018.zip
RWKV-v4/saves/10-01-2023-16-35-04
RWKV-v4/saves/ARC_Easy_10-08-2023-13-34-11
RWKV-v4/weights/RWKV-4-Pile-430M-20220808-8066.pth
